body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  background-color: white;
}

.form-wrapper {
  width: 450px;
  margin: 0 10px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 1.5s ease-out;
}

h1 {
  text-align: center;
  color: #333;
}

.form-item {
  margin-bottom: 20px;
}

.form-item input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  width: calc(100% - 20px); /* 入力フィールドの幅を調整 */
  margin-top: 4px;
}

.button-panel {
  margin-bottom: 12px;
}

.button-panel input[type="submit"] {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background-color: navy;
  color: #fff;
  cursor: pointer;
  width: 100%; /* ボタンの幅を調整 */
  font-size: 15px;
}

.button-panel input[type="submit"]:hover {
  background-color: #555;
}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-200px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}