#topname {
  position: absolute;
  font-size: 180px;
  font-weight: bold;
  color: black;
  bottom: 570px;
  left: 100px;
  font-family: Times;
}

#topsub {
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: black;
  bottom: 550px;
  left: 110px;
  font-family: Times;
}


/* 右から左へのスライドアニメーション */
@keyframes slideInFromRight {
  from {
      transform: translateX(30vw);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* 左から右へのスライドアニメーション */
@keyframes slideInFromLeft {
  from {
      transform: translateX(-30vw);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* アニメーションクラス */
.slide-in-right {
  animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
}

.slide-in-left {
  animation: 1.5s ease-out 0s 1 slideInFromLeft forwards;
}

.title1 {
  position: absolute;
  color: black;
  font-size: 60px;
  font-weight: bold;
  bottom: 190px;
  left: 960px;
}

.title2 {
  position: absolute;
  color: black;
  font-size: 60px;
  font-weight: bold;
  bottom: 100px;
  left: 722px;
}

img {
  opacity: 70%;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }


/* Form Layout */
.form-wrapper {
  opacity: 80%;
  position: absolute;
  bottom: 1px;
  top: 480px;
  left: 80px;
  margin: 3em auto;
  padding: 0 1em;
  width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid black;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 1px solid #f16272;
  outline: none;
}

.button-panel {
  font-size: 12px;
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 15px;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: black;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted black;
}


@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  position: absolute;
  bottom: 500px;
  left: 200px;
  font-size: 1.6rem;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  opacity: 80%;
}

a.btn--circle {
  width: 120px;
  height: 120px;
  padding: 20px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #eb6877;
  -webkit-box-shadow: 0 7px 0 #e53b4e;
  box-shadow: 0 7px 0 #e53b4e;
}

a.btn--circle i {
  font-size: 150%;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

a.btn--circle:hover {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #e53b4e;
  box-shadow: 0 3px 0 #e53b4e;
}